/* Apply box-sizing border-box model to all elements */
* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  font-family: Arial, sans-serif; 
  font-size: 16px;  
   color: #373737;
  line-height: 1.6;
}